# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore the XLR local database if/when we create it to run in a container
h2

# IntelliJ is a popular IDE and we include the filter here.
.idea/*

# Mac systems include an extra folder we should ignore
.DS_Store
